<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key><string>12D78</string>
	<key>CFBundleDevelopmentRegion</key><string>English</string>
	<key>CFBundleDisplayName</key><string>Coconut2D</string>
	<key>CFBundleExecutable</key><string>Coconut2D</string>
	<key>CFBundleIdentifier</key><string>com.mobilefx.Coconut2D</string>
	<key>CFBundleVersion</key><string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleSignature</key><string>????</string>
	<key>UIStatusBarHidden</key><true/>
	<key>UIViewControllerBasedStatusBarAppearance</key><false/>
	<key>LSRequiresIPhoneOS</key><true/>
	<key>UIApplicationExitsOnSuspend</key><true/>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
</dict>
</plist>
