.DS_Store?
.Trashes
[Tt]humbs.db
*.scc
._*
Application/.targets
.SDK/DeviceWrappers/native/_Libraries/boost
assets/fonts/
*.mp4
*.avi
*.rar
Templates/Coco.project/
com.vermantia.game.slots/
CodeScopes.xml
CodeSymbols.xml
DebugSymbols.xml
MemberLists.xml
workspace.bin
assets/videos.rar
.config/
.backups/
.server/HTML5/
.SDK/Toolchain/Externs/Java/android_symbols.db

