#=== COCONUT2D_IGNORE_BEGIN ===#
# Coconut2D Git Ignore for Coco.Project Symbolic Linked Folder (Junctions)

.DS_Store?
.Trashes
[Tt]humbs.db
*.scc
._*
/native/Android/libs/
/native/Android/obj/
/native/iOS/bin/
/native/Qt/bin/
#=== COCONUT2D_IGNORE_ENG ===#
