<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="$(PROJECT_PACKAGE)"
          android:installLocation="auto"
          android:versionCode="1"
          android:debuggable="true"
          android:versionName="$(PROJECT_VERSION)">
  <uses-sdk android:minSdkVersion="$(TARGETS.Android.APP_SETTINGS.MIN_SDK_VERSION)"
            android:targetSdkVersion="$(TARGETS.Android.APP_SETTINGS.TARGET_SDK_VERSION)" />
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- android:parentActivityName="android.app.NativeActivity"/ -->
  <application android:allowBackup="true"
               android:icon="@drawable/ic_launcher"
               android:label="$(PROJECT_DISPLAY_NAME)"
               android:hasCode="true"
               android:debuggable="$(DEBUGGABLE)"
               android:hardwareAccelerated="true"
               android:largeHeap="true">
    <activity android:name="$(PROJECT_PACKAGE).MainActivity"
              android:label="$(PROJECT_DISPLAY_NAME)"
              android:screenOrientation="$(TARGETS.Android.APP_SETTINGS.SCREEN_ORIENTATION)"
              android:windowSoftInputMode="adjustPan">
      <meta-data android:name="android.support.PARENT_ACTIVITY"
                 android:value="android.app.NativeActivity" />
      <meta-data android:name="android.app.lib_name"
                 android:value="Coconut2D" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
