.git/
.backups/
.config/
.SDK/
Application/.targets/
Application/resources/
assets/fonts/
.server/HTML5/
*.exe
*.dll
*.ipa
*.jar
*.apk
*.mp4
*.avi
*.rar
*.jobj
desktop.ini
[Tt]humbs.db
profiler.xml
