<?xml version='1.0' encoding='UTF-8' standalone='no'?>



<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="node.js" verb="*" modules="iisnode" />
    </handlers>
	<iisnode nodeProcessCommandLine="&quot;D:/mobileFX/Projects/Software/Coconut/Projects/Coco.project/.server/.Node.js/start_node.cmd&quot;" />
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.htm" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="CavoBoutique" patternSyntax="Wildcard">
          <match url="*.asp*" />
          <action type="Rewrite" url="node.js" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

