<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!-- Build spefic tags -->
	<key>BuildMachineOSBuild</key><string>12D78</string>
	<key>LSRequiresIPhoneOS</key><true/>
	<key>MinimumOSVersion</key><string>5.0</string>
	<key>CFBundleDevelopmentRegion</key><string>English</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleSignature</key><string>????</string>

	<!-- XCode Keys -->
	<key>DTCompiler</key><string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key><string>10A403</string>
	<key>DTPlatformName</key><string>iphoneos</string>
	<key>DTPlatformVersion</key><string>6.0</string>
	<key>DTSDKBuild</key><string>10A403</string>
	<key>DTSDKName</key><string>iphoneos6.0</string>
	<key>DTXcode</key><string>0450</string>
	<key>DTXcodeBuild</key><string>4G182</string>

	<!-- Identity -->
	<key>CFBundleName</key><string>$(PROJECT_NAME)</string>
	<key>CFBundleDisplayName</key><string>$(PROJECT_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key><string>$(PROJECT_NAME)</string>
	<key>CFBundleIdentifier</key><string>$(TARGETS.iOS.APP_SETTINGS.CFBundleIdentifier)</string>
	<key>CFBundleVersion</key><string>$(PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key><string>$(PROJECT_VERSION_SHORT)</string>
	<key>NSHumanReadableCopyright</key><string>$(TAGS.OG_COPYRIGHT)</string>

	<!-- User Interface -->
	<key>UIStatusBarHidden</key><$(TARGETS.iOS.APP_SETTINGS.UIStatusBarHidden)/>
	<key>UIStatusBarStyle</key><string>$(TARGETS.iOS.APP_SETTINGS.UIStatusBarStyle)</string>
	<key>UIViewControllerBasedStatusBarAppearance</key><$(TARGETS.iOS.APP_SETTINGS.UIViewControllerBasedStatusBarAppearance)/>
	<key>UIViewEdgeAntialiasing</key><$(TARGETS.iOS.APP_SETTINGS.UIViewEdgeAntialiasing)/>

	<!-- Target Platforms -->
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>

	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>

	<!-- Running in Background -->
	<key>UIApplicationExitsOnSuspend</key><$(TARGETS.iOS.APP_SETTINGS.UIApplicationExitsOnSuspend)/>

	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

	<!-- Screen Orientation -->
	<key>UIInterfaceOrientation</key><string>$(TARGETS.iOS.APP_SETTINGS.UIInterfaceOrientation)</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>$(TARGETS.iOS.APP_SETTINGS.UIInterfaceOrientation)</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>$(TARGETS.iOS.APP_SETTINGS.UIInterfaceOrientation_iPad)</string>
	</array>

    <!-- Resources -->
    <key>CFBundleResourceSpecification</key><string>ResourceRules.plist</string>

	<!-- Icons -->

	<key>UIPrerenderedIcon</key><$(TARGETS.iOS.APP_SETTINGS.UIPrerenderedIcon)/>

	<key>CFBundleIconFiles</key>
	<array>
		$(APP_ICONS)
	</array>

	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				$(APP_ICONS)
			</array>
			<key>UIPrerenderedIcon</key><$(TARGETS.iOS.APP_SETTINGS.UIPrerenderedIcon)/>
		</dict>
	</dict>

	<!-- Launch Image
	<key>UILaunchImageFile</key><string>Default.png</string>
	<key>UILaunchImageFile~iphone</key><string>Default.png</string>
	<key>UILaunchImageFile~ipad</key><string>Default-iPad.png</string>
	-->

	<!-- Device Capabilities -->
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>opengles-2</string>
		<string>armv7</string>
		<!--
		<string>telephony</string>
		<string>wifi</string>
		<string>sms</string>
		<string>still-camera</string>
		<string>auto-focus-camera</string>
		<string>front-facing-camera</string>
		<string>camera-flas</string>
		<string>video-camera</string>
		<string>accelerometer</string>
		<string>gyroscope</string>
		<string>location-services</string>
		<string>gps</string>
		<string>magnetometer</string>
		<string>gamekit</string>
		<string>microphone</string>
		<string>peer-peer</string>
		<string>bluetooth-le</string>
		-->
	</array>

</dict>
</plist>