*
{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;

	font-size: 12pt;
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	cursor:default;

	-webkit-user-drag: none!important;
	-webkit-tap-highlight-color: RGBA(0,0,0,0);

	outline: 0;
	vertical-align: top;
}

a, a img
{
	cursor:pointer;
}

body
{
	margin:0;
	padding: 0;
}

:focus
{
	outline: 0;
}

h1
{
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16pt;
	font-weight:bold;
}

h2
{
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14pt;
	font-weight:bold;
}